/* ========================================
// EWW SCSS
// ======================================== */

/* Import pywal colors */
@import "colors.scss";
@import "system-monitor-dark.scss";
@import "calendar.scss";
@import "control_center-dark.scss";
@import "topbar-dark.scss";


