/* ========================================
// EWW SCSS
// ======================================== */

/* Import pywal colors */
@import "/home/diaz/.cache/m3-colors/colors.scss";
@import "system-monitor-light.scss";
@import "calendar.scss";
@import "control_center-light.scss";
@import "topbar-light.scss";


