/* ========================================
// EWW SCSS
// ======================================== */

/* Import pywal colors */
@import "colors.scss";
@import "system-monitor-light.scss";
@import "calendar.scss";
@import "control_center-light.scss";
@import "topbar-light.scss";


