@define-color foreground #9a9a9a;
@define-color background #000000;
@define-color cursor #9a9a9a;

@define-color color0 #000000;
@define-color color1 #2b2925;
@define-color color2 #293847;
@define-color color3 #344d4f;
@define-color color4 #52524b;
@define-color color5 #55738e;
@define-color color6 #6c93a6;
@define-color color7 #9a9a9a;
@define-color color8 #363636;
@define-color color9 #2b2925;
@define-color color10 #293847;
@define-color color11 #344d4f;
@define-color color12 #52524b;
@define-color color13 #55738e;
@define-color color14 #6c93a6;
@define-color color15 #9a9a9a;
